<h1><%= @blogger.name %></h1>

<% total_likes = 0 %>
<% @blogger.posts.each do |post| %>
<% total_likes += post.likes%>
<% end %>

Total Likes: <%= total_likes %><br>
Most featured post: <%= link_to @blogger.posts.sort_by{|post| post.likes}.reverse[0].title, post_path(@blogger.posts.sort_by{|post| post.likes}.reverse[0]) %>
